@model Book

<table border="1">
    <tr>
        <th style="padding:10px">
            Title
        </th>
        <th style="padding:10px">
            Author
        </th>
        <th style="padding:10px">
            Year
        </th>
    </tr>
    <tr>
        <td style="text-align:center">@Model.Title</td>
        <td style="text-align:center">@Model.Author</td>
        <td style="text-align:center">@Model.Year</td>

    </tr>


</table>
<br />
<br />
<a href="/Books/All">All books</a>