main table {
width: 100%;
border: 1px solid #feae00;
border-spacing: 0px;
}

main th, td {
width: 25%;
padding: 15px;
text-align: left;
}

main td {
    vertical-align: bottom;
    background-color: #F9D977;
}

main th {
background-color:#feae00;
color:white;
}

img {
background-color:aquamarine;
width: 100px;
height: auto;
}

main tr:nth-child(odd){
background-color:white;
}
